.footer {
    padding: 13px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 12px;
    line-height: 1.33;

    span {
        margin-left: 30px;
    }

    @media (max-width: 320px) {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}

.footer__social {
    display: flex;
}

.footer__social__link {
    margin-left: 14px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: transform .2s linear;

    &:hover {
        transform: translateY(-5px);
    }
}