.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.nav__link {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 20px;
    

    &:nth-child(5) {
        border-right: solid 2px #ffffff;
    }

    &--lang {
        padding: 8px 14px 6px 17px;
        font-size: 12px;
        vertical-align: top;

        &.active {
            opacity: 0.5;
        }
    }

    
}