.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    

    &--toggle {

        width: 26px;
        padding: 10px 0;
        position: absolute;
        top: 22px;
        left: 24px;
        z-index: 1;
        font-size: 0;
        color: transparent;
        border: 0;
        background: none;
        cursor: pointer;
        display: none;
        
        &:focus {
            outline: 0;
        }

        @media (max-width: 1024px) {
            display: block;
        }

        &.show {
            .nav--toggle__item {
                background: none;

                &::before {
                    transform-origin: left top;
                    transform: rotate(45deg) translateX(-2px);
                }

                &::after {
                    transform-origin: left bottom;
                    transform: rotate(-45deg) translateX(-3px);
                }
            }
        }
        
    }

    @media (max-width: 1024px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1rem;
        z-index: 1000;
        width: 100%;
        background-color: #266aa0;
        text-align: center;

        &.show {
            display: flex;
            flex-wrap: wrap;
        }
    }

}

.nav--toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;

    &::before,
    &::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;

    }

    &::before {
        top: -8px;
    }

    &::after {
        bottom: -8px;
    } 
}



.nav__link {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 20px;
    transition: color .2s linear;
    

    &:nth-child(5) {
        border-right: solid 2px #ffffff;
    }

    &--lang {
        padding: 8px 14px 6px 17px;
        font-size: 12px;
        vertical-align: top;

        &.active {
            opacity: 0.5;
        }
}

    &:hover {
        color: #ff722b;
    }

    @media (max-width: 1024px) {
        width: 100%;
        &:nth-child(5) {
            border-right: none;
        }
    }
}