.planning {
    padding-top: 95px;

    @media (max-width: 768px) {
        padding-top: 40px;
    }
}

.planning__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
}

.planning__content {
    width: 100%;
    max-width: 33.87%;
    position: relative;

    @media (max-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin-bottom: 17px;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
}

.planning__title {
    font-family: Didact Gothic;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.07;
    margin-bottom: 25px;

    span {
        color: #ff722b;
    }

    @media (max-width: 1024px) {
        width: 55.37%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 320px) {
        font-size: 24px;
    }
}

.planning__text {
    @media (max-width: 1024px) {
        width: 39.47%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.planning__bg {
    position: absolute;
    top: -10%;
    left: -25%;
    z-index: -2;
    width: 632px;
    height: 505px;
    opacity: 0.3;

    @media (max-width: 1024px) {
        max-width: 100%;
        width: 317px;
        height: 253px;
        top: -20%;
        left: 0;
        
    }

    @media (max-width: 320px) {
        top: 20%;
    }
}

.planning__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 50%;
    width: 100%;

    @media (max-width: 1024px) {
        max-width: 100%;
    }
}

.planning__item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 1024px) {
        width: 33.33%;
    }

    @media (max-width: 768px) {
        width: 50%;
    }

    @media (max-width: 320px) {
        width: 100%;
    }
    
}

.planning__item__text {
    margin-left: 15px;
    font-size: 18px;
    line-height: 1.33;

    @media (max-width: 320px) {
        font-size: 16px;
    }
}

